// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  min-width: 22.5rem;
  height: 6.1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;

  &--orange {
    color: white;
    background-color: #ff5500;
  }

  &--white {
    color: #ff5500;
    background-color: white;
  }

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 10px 9px 46px -14px rgba(130, 130, 130, 1);
  }

  &:active {
    outline: none;
  }
}
