body {
  color: $text-color;
  font-family: $text-font-stack;
  font-weight: 300;
}

.heading {
  margin: 2.5rem 0;
  font-size: 5.4rem;

  &--big {
    font-size: 8rem;
  }
}

.title {
  margin: 1.5rem 0;
  font-size: 2.3rem;
  font-weight: 600;
  color: $orange-color;
}

.text {
  margin: 2.5rem 0;
  font-size: 2.3rem;
}
