body {
  color: $text-color;
  font-family: $text-font-stack;
  font-weight: 300;
}

.heading {
  margin: 2.5rem 0;
  font-size: 4.7rem;

  &--big {
    font-size: 6rem;

    @include respond(phone) {
      font-size: 4.6rem !important;
    }
  }

  @include respond(phone) {
    font-size: 3.9rem;
  }
}

.title {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: $orange-color;
}

.text {
  margin: 2.5rem 0;
  font-size: 1.6rem;

  @include respond(phone) {
    font-size: 1.75rem;
  }
}
