.hero-section {
  display: flex;
  padding: 5rem 2.5rem;

  &__heading {
    margin-bottom: 2.5rem;
  }

  &__phone {
    position: relative;
    bottom: 12rem;
    width: auto;
    max-height: 70rem;

    @include respond(tab-port) {
      bottom: 6rem;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__form {
    margin: 8rem 0;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  .companies-list {
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;

    a {
      display: flex;
      margin: 0 1rem 1.25rem 0;
      align-items: center;
      flex-basis: 22%;
    }

    img {
      max-width: 100%;
      height: auto;
      filter: grayscale(1);
      opacity: 0.3;

      &:hover {
        filter: none;
        opacity: 1;
      }
    }
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 534px;
    height: 768px;
    content: '';
    background-image: url('../public/img/bg/hero_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    @include respond(tab-port) {
      right: -195px;
    }

    @include respond(phone) {
      display: none;
    }
  }
}

.features-section {
  position: relative;
  text-align: center;

  &__list {
    display: flex;
    margin: 8rem 0;
    justify-content: space-between;

    .list__item {
      flex-basis: 30%;

      img {
        max-width: 12rem;
      }
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  .item__title {
    font-size: 2.6rem;
    font-weight: 600;
  }

  .screenshot {
    border-radius: 3px;
    box-shadow: 0px 22px 65px 0px rgba(35, 35, 35, 0.08);

    img {
      max-height: 40rem;
      width: auto;
    }
  }

  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: -30rem;
    right: 0;
    width: 22.6rem;
    height: 46.1rem;
    background-image: url('../public/img/bg/features_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    z-index: -1;
  }
}

.arguments-section-wrapper {
  &:after {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    bottom: 8.5rem;
    border-bottom: 5.65vh solid #eef4fb;
    border-left: 98vw solid transparent;
    height: 5px;
    content: '';
    z-index: -1;
    transform: scale(1, 6);
  }
}
.arguments-section {
  position: relative;
  text-align: center;

  .arguments {
    display: flex;
    margin: 8rem 0;
    align-items: center;
    justify-content: space-around;

    .argument {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 40%;
      padding: 3rem 4.5rem;
      text-align: left;

      &__title {
        font-size: 2.6rem;
        font-weight: 600;
      }

      &__list {
        font-size: 2.1rem;

        li {
          margin-bottom: 1.35rem;
        }
      }

      &_1 {
        @include respond(tab-port) {
          margin-bottom: 4rem;
        }
      }

      @include respond(tab-port) {
        z-index: 1;
      }
    }

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  .argument_1 {
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 22px 65px 0px rgba(35, 35, 35, 0.08);
    z-index: 1;
  }

  .argument_2 {
    color: white;
    border-radius: 16px;
    background: linear-gradient(0deg, #e45b2d 0%, #ec6f25 33%, #fc9715 100%);
    box-shadow: 0px 22px 65px 0px rgba(0, 0, 0, 0.08);
  }

  &:before {
    display: block;
    position: absolute;
    bottom: -10rem;
    left: -15rem;
    width: 36.5em;
    height: 40rem;
    background-image: url('../public/img/bg/arguments_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
  }
}

.testimonials-section-wrapper {
  background-image: linear-gradient(
    to bottom,
    #eef4fb,
    #f3f6fc,
    #f8f9fd,
    #fcfcfe,
    #ffffff
  );
}
.testimonials-section {
  text-align: center;

  .review {
    line-height: 2.5rem;
    text-align: center;
  }
}

.start-section {
  text-align: center;

  &__form {
    margin: 12rem 0;
    justify-content: center;

    input[type='email'] {
      flex-basis: 40%;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }
}
