/// Regular font family
$text-font-stack: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$text-color: rgb(50, 54, 57) !default;

$black-color: rgb(17, 17, 17) !default;

$orange-color: #ff5500 !default;

$light-grey-color: rgb(212, 216, 227) !default;

/// Container's maximum width
$max-width: 114rem !default;
