doctype html
html(lang='en')
  head
    title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    header
      nav.navigation
        a(href='./index.html')
          img.logo(src='./public/img/logo.png', alt='TimeSavr')
    main
      block content
    footer.footer
      p.footer__social
        a(href='')
          img(src='./public/img/social/facebook.png', alt='')
        a(href='')
          img(src='./public/img/social/twitter.png', alt='')
        a(href='')
          img(src='./public/img/social/instagram.png', alt='')
      p.text.footer__text Copyright © TimeSavr 2019. All Rights Reserved.
